<ul class="footerList">
    <li>
        <img src="https://cdn4.iconfinder.com/data/icons/arrow-290/32/24_Download-256.png" style="width: 28px;">Ingreso</img>
    </li>
    <li>
        <img src="https://cdn3.iconfinder.com/data/icons/covid-test/32/7_Result_test-256.png" style="width: 28px;">Productos</img>
    </li>
</ul>
<br>